{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    
    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    
    <title>
        {% block title %}
        {{ title|capfirst }}
        {% endblock title%}
    </title>

    {% block css %}
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    {% endblock css %}

</head>

<body>
    <!-- Header -->
    <!-- Topband -->
    <div class="topband">
        <div class="container">

            <div class="topband__row">

                <div class="topband__column">
                    <ul class="topband__info">
                        <li class="topband__item">8 (812) 123-45-67</li>
                        <li class="topband__item">Работаем 7 дней в неделю</li>
                        <li class="topband__item">9:00 — 18:00</li>
                    </ul>
                </div><!-- ./topband__column -->

                <div class="topband__column">
                    <div class="topband__sign-in">
                        <a class="topband__link" href="#" >Войти / Регистрация</a>
                    </div>
                </div>

            </div><!-- ./topband__row -->

        </div><!-- ./container -->
    </div><!-- ./topband -->

    {% block menu %}
        {% include 'mainapp/includes/inc_menu.html' %}
    {% endblock menu %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    <!-- Footer -->
        <footer class="footer">

            <div class="footer__top">
                <div class="container">

                    <div class="row  footer__top-row">

                        <div class="col-lg-4  footer__column">

                            <h3 class="footer__title">О магазине</h3>
                            <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi semper viverra nunc cursus tortor lectus nunc nulla nibh. Egestas amet consectetur vel vitae aliquam dictum suspendisse. Lobortis eget consequat, tellus et et sed turpis. Pretium quisque vitae, amet, porttitor odio ultricies massa pharetra leo. Et ipsum urna fames in sit mi ultrices nisi, nunc.</p>

                        </div>

                        <div class="col-lg-4  footer__column">

                            <h3 class="footer__title">Категории</h3>

                            <div class="footer__top-link">

                                <a class="footer-link" href="#">все</a>
                                <a class="footer-link" href="#">мужские</a>
        <!--                            <a class="footer-link" href="#">ремни</a>-->

                            </div><!-- ./footer__top-link -->

                            <div class="footer__bottom-link">

                                <a class="footer-link" href="#">женские</a>
                                <a class="footer-link" href="#">детские</a>

                            </div><!-- ./footer__top-link -->

                        </div>

                        <div class="col-lg-4  footer__column">

                            <h3 class="footer__title">РАссылка</h3>
                            <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi semper viverra nunc cursus tortor lectus nunc nulla nibh.</p>
                            <div class="footer__subs">
                                <form class="footer__form" action="#">
                                    <input class="footer__input" type="email" placeholder="Ваша почта">
                                    <button class="footer__btn" type="submit">подписаться</button>
                                </form>
                            </div>

                        </div>

                    </div><!-- ./footer__top -->
                </div><!-- ./container -->

            </div><!-- ./footer__body -->

            <div class="footer__bottom">
                <div class="container">

                    <div class="row">

                        <div class="col-lg-6  d-flex  align-items-center  footer__copy">
                            <p class="footer__copy-text">2020 Все права защищены</p>
                        </div>

                        <div class="col-lg-6  d-flex  align-items-center  justify-content-end  footer__dev">
                            <a class="footer__dev-text" href="#">Сделано A-X-E-L</a>
                        </div>

                    </div><!-- ./row -->

                </div><!-- ./container -->
            </div><!-- ./footer__bottom -->

        </footer>
    {% endblock footer%}

    {% block js %}
        <script src="/static/js/app.min.js"></script>
    {% endblock js %}

</body>