{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% include 'mainapp/includes/inc_menu.html' %}

{% block content %}
    <!-- Content -->
    <div>
        <div class="container">
            <h1 class="contacts__title">наши контакты</h1>
            <p class="contacts__text">сегодня: {{ visit_date|date:"l, j F, Y" }}</p>
        </div>
    </div>
    
    
    <div class="contacts">
        <div class="container">
    
            <div class="contacts__content">
    
                <div class="contacts__box">
    
                    {% for loc in locations %}
                    <div class="box__item">
                        <img src="{% static 'img/maps.svg' %}" alt="">
                        <h4>{{ loc.city }}</h4>
                        <div class="contacts">
                            <h5>Телефон</h5>
                            <p>{{ loc.phone }}</p>
                        </div>
                        <div class="contacts">
                            <h5>Email</h5>
                            <p>{{ loc.email }}</p>
                        </div>
                        <div class="contacts">
                            <h5>Адрес</h5>
                            <p>{{ loc.address }}</p>
                        </div>
                    </div>
                    {% endfor %}
    
                </div>
            </div>
    
        </div>
    </div>
{% endblock content %}

