{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock menu %}

{% block content %}
    <!-- Content -->
    <div class="product__top">
        <div class="container">
            {% include 'mainapp/includes/inc_categories_menu.html' %}
        </div>
    </div>
    
    <div class="body">
        <div class="container">
    
            <div class="content">
                <div class="row  content__item">
    
                    <div class="col-lg-5  content__item-left">
                        <div class="card__img">
                            <img class="img  card__watch" src="{% static 'img/new-session-item.png' %}" alt="watch" >
                        </div>
                    </div>
    
                    <div class="col-lg-7  content__item-right">
                        <div class="top-box">
                            <h3 class="card__subtitle">Louis XVI ATHOS</h3>
                            <p class="card__text">Великолепные швейцарские мужские часы</p>
                        </div>
    
                        <div class="bottom-box">
                            <div class="btn  btn-session  btn-content">
                                <a href="#" class="new-session__btn">Заказать</a>
                            </div>
                            <p class="card__text">165 000 руб.</p>
                        </div>
                    </div>
    
                </div><!-- ./content__item -->
    
                <div class="similar">
                    <div class="similar__title">
                        <h2>Похожие продукты</h2>
                        <a class="explore" href="#">показать все</a>
                    </div>
                    <div class="similar__products">
                        <div class="card-box">
                            <a href="#"><img src="{% static 'img/new-session-item.png' %}" alt="">
                                <div class="text">
                                    <img src="{% static 'img/arrow-similar.png' %}" alt="img">
                                    <h4>Часы премиального качества</h4>
                                    <p>Автоподзавод.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card-box">
                            <a href="#"><img src="{% static 'img/new-session-item.png' %}" alt="">
                                <div class="text">
                                    <img src="{% static 'img/arrow-similar.png' %}" alt="img">
                                    <h4>Часы премиального качества</h4>
                                    <p>Автоподзавод.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card-box">
                            <a href="#"><img src="{% static 'img/new-session-item.png' %}" alt="">
                                <div class="text">
                                    <img src="{% static 'img/arrow-similar.png' %}" alt="img">
                                    <h4>Часы премиального качества</h4>
                                    <p>Автоподзавод.</p>
                                </div>
                            </a>
                        </div>
    
                    </div>
                </div>
    
            </div><!-- ./content -->
    
        </div>
    </div>
{% endblock content %}
